<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="alphaRGB" value="255"/>
    
    <add key="crBody" value="0"/>
    <add key="cgBody" value="0"/>
    <add key="cbBody" value="0"/>

    <add key="crLead" value="0"/>
    <add key="cgLead" value="255"/>
    <add key="cbLead" value="0"/>

    <add key="crPad" value="0"/>
    <add key="cgPad" value="0"/>
    <add key="cbPad" value="0"/>

    <add key="crPick" value="255"/>
    <add key="cgPick" value="0"/>
    <add key="cbPick" value="255"/>

    <add key="Ox" value="0.5"/>
    <add key="Oy" value="0.5"/>

    <add key="ThresholdArea" value="0.01"/>
    <add key="ZoomScale" value="1.1"/>
    <add key="RedemptionNumber" value="1000000"/>
    <add key="PickLengthFOV" value="60"/>
    <add key="PickLengthCOM" value="1000"/>
    <add key="BoundartThickness" value="8"/>
    <add key="AtomThickness" value="1"/>
    <add key="CompThickness" value="5"/>
    
    <add key="Detail" value=": "/>
    <add key="100" value="Error opening Job file"/>
    <add key="101" value="Error reading Job file"/>
    <add key="102" value="Error converting Job data"/>
    <add key="103" value="Error drawing FOV"/>
    <add key="104" value="Error redrawing board map"/>
    <add key="105" value="Error choosing components list"/>
    <add key="106" value="Error drawing cluster boundary"/>
  </appSettings>
</configuration>
